[bumpversion]
current_version = 0.5.3
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = 
	{major}.{minor}.{patch}
tag_name = {new_version}
message = Version {new_version}

[bumpversion:file:openapi_spec_validator/__init__.py]

[bumpversion:file:Dockerfile]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
