---
default_stages: [pre-commit, pre-push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: ["--py39-plus"]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        args: ['--filter-files']
        language: system
        require_serial: true
        types: [python]

      - id: pyflakes
        name: pyflakes
        entry: pyflakes
        language: system
        require_serial: true
        types: [python]
