# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test python code

on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: "Tests"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
        os: [windows-latest, ubuntu-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up poetry
        uses: Gr1N/setup-poetry@v9
        with:
          poetry-version: "2.2.1"

      - name: Configure poetry
        run: poetry config virtualenvs.in-project true

      - name: Set up cache
        uses: actions/cache@v4
        id: cache
        with:
          path: .venv
          key: venv-${{ github.event_name }}-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Ensure cache is healthy
        if: steps.cache.outputs.cache-hit == 'true'
        shell: bash 
        run: timeout 10s poetry run pip --version || rm -rf .venv

      - name: Install dependencies
        run: poetry install --all-extras

      - name: Test
        env:
          PYTEST_ADDOPTS: "--color=yes"
        run: poetry run pytest

      - name: Static type check
        run: poetry run mypy

      - name: Check dependencies
        run: poetry run deptry .

      - name: Upload coverage
        uses: codecov/codecov-action@v5
